<div layout="column" ng-cloak class="module-padding">

    <!-- provider selector -->
    <config-section cl-title="Email provider" cl-icon="email-outline"></config-section>
    <config-select
        cl-title="Select email provider"
        cl-options="$ctrl.providers" cl-model="$ctrl.provider"
    ></config-select>
    <config-note
        ng-if="$ctrl.provider==='gmail'"
        cl-img-src="res/gmail.png" cl-img-width="100px"
        cl-type="none"
        cl-note="<h3>Google Gmail account access configuration</h3><p>Fill your login and password from Google account to use it.<br/>If you have two-factor authentication enabled please generate an application password <a href='https://security.google.com/settings/security/apppasswords' target='_blank'>here</a> and use it below.</p>"
    ></config-note>
    <config-note
        ng-if="$ctrl.provider==='yahoo'"
        cl-img-src="res/yahoomail.png" cl-img-width="100px"
        cl-type="none"
        cl-note="<h3>Yahoo! Mail account access configuration</h3><p>Fill your login and password from your Yahoo! account to use it.<br/>If you have two-factor authentication enabled please follow this <a href='https://help.yahoo.com/kb/SLN15241.html' target='_blank'>page</a> and use generated password below.</p>"
    ></config-note>
    <config-note
        ng-if="$ctrl.provider==='custom'"
        cl-icon="email-outline" cl-icon-style="icon-xl"
        cl-type="none"
        cl-note="<h3>Custom email provider configuration</h3><p>Please fill fields below according to your custom server configuration.</p>"
    ></config-note>

    <!-- configuration -->
    <config-section cl-title="Configuration" cl-icon="email-edit-outline"></config-section>
    <config-text
        ng-if="$ctrl.provider==='custom'"
        cl-required="true"
        cl-title="Server address"
        cl-model="$ctrl.server"
        cl-placeholder="Server address"
    ></config-text>
    <config-number
        ng-if="$ctrl.provider==='custom'"
        cl-title="Server port"
        cl-model="$ctrl.port"
        cl-min="0"
    ></config-number>
    <config-checkbox
        ng-if="$ctrl.provider==='custom'"
        cl-title="Enable TLS option"
        cl-model="$ctrl.tls"
    ></config-checkbox>
    <config-checkbox
        ng-if="$ctrl.provider==='custom'"
        cl-title="Enable SSL option"
        cl-model="$ctrl.ssl"
    ></config-checkbox>
    <config-text
        cl-title="Login"
        cl-model="$ctrl.login"
        cl-placeholder="Login"
    ></config-text>
    <config-text
        cl-title="Password"
        cl-subtitle="For security reason password is never retrieved. Please provide password again everythime you update configuration."
        cl-model="$ctrl.password"
        cl-placeholder="Password"
        cl-password="true"
    ></config-text>
    <config-text
        ng-if="$ctrl.provider==='custom'"
        cl-title="Email sender"
        cl-subtitle="Optional. If not specified, login value is used"
        cl-model="$ctrl.sender"
        cl-placeholder="Email sender"
    ></config-text>
    <config-button
        cl-icon=""
        cl-btn-icon="content-save-outline"
        cl-btn-label="Save configuration"
        cl-click="$ctrl.setConfig()"
    ></config-button>

    <!-- test -->
    <config-section cl-title="Test configuration" cl-icon="email-fast-outline"></config-section>
    <config-text
        cl-title="Email address to send test message to"
        cl-subtitle="This email address is only used for testing and won't be saved"
        cl-model="$ctrl.recipient"
        cl-placeholder="Email address"
        cl-click="$ctrl.test()"
        cl-btn-icon="send"
    ></config-text>

</div>

