<div layout="column" layout-padding ng-cloak>

    <div layout="row" layout-xs="column" layout-align="start center" layout-padding>
        <div flex-gt-sm="33">
            <md-input-container class="md-block">
                <label>Choose your email provider</label>
                <md-select ng-model="smtpCtl.provider" placeholder="Email providers">
                    <md-option ng-repeat="provider in smtpCtl.providers" ng-value="provider.key">{{provider.name}}</md-option>
                </md-select>
            </md-input-container>
        </div>
        <div ng-if="smtpCtl.provider==='gmail'" layout="row" layout-padding>
            <div>
                <img mod-img-src="res/gmail.png" style="height:100px;"/>
            </div>
            <div>
                <p>Fill your login and password from your google account to use it.</p>
                <p>If you have two-factor authentication enabled please generate a password <a href="https://security.google.com/settings/security/apppasswords" target="_blank">here</a> and use it below</p>
            </div>
        </div>
        <div ng-if="smtpCtl.provider==='yahoo'" layout="row" layout-padding>
            <div>
                <img mod-img-src="res/yahoomail.png" style="height:100px;"/>
            </div>
            <div>
                <p>Fill your login and password from your Yahoo! account to use it.</p>
            </div>
        </div>
        <div ng-if="smtpCtl.provider==='custom'" layout="row" layout-padding>
            <div>
                <md-icon md-svg-icon="email-outline" class="icon-xxl"></md-icon>
            </div>
            <div>
                <p>Configure your own mail server to use it.</p>
            </div>
        </div>
    </div>

    <div layout-gt-sm="row" ng-if="smtpCtl.provider==='custom'">
        <md-input-container class="md-block" flex-gt-sm>
            <label>Server address</label>
            <input type="text" ng-model="smtpCtl.smtpServer"></input>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
            <label>Server port (optional)</label>
            <input type="text" ng-model="smtpCtl.smtpPort"></input>
        </md-input-container>
    </div>
    <div layout-gt-sm="row" ng-if="smtpCtl.provider==='custom'">
        <md-input-container class="md-block" flex-gt-sm>
            <md-checkbox ng-model="smtpCtl.smtpTls" aria-label="Tls">
                TLS enabled
            </md-checkbox>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
            <md-checkbox ng-model="smtpCtl.smtpSsl" aria-label="Ssl">
                SSL enabled
            </md-checkbox>
        </md-input-container>
    </div>
    <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
            <label>Login</label>
            <input type="text" ng-model="smtpCtl.smtpLogin"></input>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
            <label>Password</label>
            <input type="password" ng-model="smtpCtl.smtpPassword"></input>
        </md-input-container>
    </div>
    <div layout-gt-sm="row" ng-if="smtpCtl.provider==='custom'">
        <md-input-container class="md-block" flex-gt-sm>
            <label>Email sender (sometimes overwritten by server)</label>
            <input type="text" ng-model="smtpCtl.emailSender"></input>
        </md-input-container>
    </div>
    <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
            <label>Email recipient (not saved, only used for test)</label>
            <input type="text" ng-model="smtpCtl.recipient"></input>
        </md-input-container>
        <div>
            <md-button class="md-raised md-primary" ng-click="smtpCtl.setConfig()" aria-label="Save">Save</md-button>
        </div>
        <div>
            <md-button class="md-raised md-primary" ng-click="smtpCtl.test()" aria-label="Test">Test</md-button>
        </div>
    </div>

</div>

